## Permet de définir des profils à utiliser par défaut en fonction des profils définis dans le docker-compose.yml :

# Liste des containers présent avec leurs ports : 
# watchtower refine-alignements refbacon refhub refidref refmovies reforcid refperios refsudoc reftheses

## Resources allocation

OPENREFINE_CONTAINER_NAME=refxxxxx
OPENREFINE_MEM_LIMIT=5g
OPENREFINE_CPU_LIMIT=5
OPENREFINE_PORT=xxxxx
OPENREFINE_VERSION=3.8.7
OPENREFINE_REFINE_MEMORY=4600M

## WATCHTOWER
OPENREFINE_WATCHTOWER_MEM_LIMIT=5g
OPENREFINE_WATCHTOWER_CPU_LIMIT=5
## WATCHTOWER

OPENREFINE_WATCHTOWER_RUN_ONCE=false
