# La liste des instances Abes avec leurs ports est disponible dans le readme :
# https://github.com/abes-esr/refabes-docker?tab=readme-ov-file#openrefine-de-labes

REFABES_NAME=refxxxxx
REFABES_MEM_LIMIT=4600M
REFABES_CPU_LIMIT=5
REFABES_PORT=13333
OPENREFINE_VERSION=3.9.0

