## Permet de définir des profils à utiliser par défaut en fonction des profils définis dans le docker-compose.yml :

# La liste des containers présent avec leurs ports est disponible dans le readme : https://github.com/abes-esr/refabes-docker/tree/develop?tab=readme-ov-file#liste-des-openrefine-pr%C3%A9sent-%C3%A0-labes-  


## Resources allocation

REFABES_NAME=refxxxxx
REFABES_MEM_LIMIT=5000M
REFABES_CPU_LIMIT=5
REFABES_PORT=xxxxx
OPENREFINE_VERSION=3.8.7

